/.Xil/
/_x_temp.hw.xilinx_u50_gen3x16_xdma_201920_3/
/build_dir.hw.xilinx_u50_gen3x16_xdma_201920_3/*
!/build_dir.hw.xilinx_u50_gen3x16_xdma_201920_3/*.vclf
/reports/
/v++_denseSimilarityKernel.log
/xcd.log
/xrc.log
